
/* User Card */
.user-card-body{
    display: flex;
    padding: 10px;    
}

.user-card-avatar{
    align-items: center;
    justify-content: center;
}

.user-card-body .css-1fzlhpv-MuiGrid2-root {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
}

/* UserList */
.userList-main-cmp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 244, 244);
    margin-bottom: 50px;
}

.userList-card-cmp{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}

.userList-user-card{
    cursor: pointer;
}

/* UserProfile */
.userProfile-main-cmp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebd0b7;
    width: 100vw;
}
.card-mrg{
    margin: 10px;
    padding: 15px;
}
.userProfile-first-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.userProfile-main-tex-title{
    font-weight: 800;
}

.userProfile-second-card-general-cont{
    display: flex;
    flex-direction: row;
    
}
.userProfile-second-card-general-cont .card-general-item{
    margin-right: 20px;
}